.bg-cont{
    background-image: url('https://i.postimg.cc/8kBsVntJ/image.png');
    background-position: right;
    background-repeat: no-repeat;
    height: 100vh;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    
}
.top-buttons{
    background-color: #FDC435;
    color: black;
    border: 0px #FDC435 solid;
    margin-right: 30px;
    font-size: 16px;

}
.ux-design{
    color:#FDC435;
    ;
}
.projects-button{
    background-color: #FDC435 ;
    color: black;
    border: 2px #FDC435 solid;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    margin-right: 40px;
}

.linkdin-button{
    background-color: white;      
    padding: 10px;
    font-size: 15px;
    border: 2px black solid;
    border-radius: 5px;
}
.left-content{
    box-sizing: content-box;
    width: 40%;
    margin-left: 5%;
}
.labels{
    display: flex;
    flex-direction: column;     
    align-items: flex-start;
    margin: 10px;
}
.heading{
    text-align: center;
}
.add-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add-btn-cont{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}